body {
  color: #1a2b5f;
  line-height: 1.4;
  font-family: 'Poppins', sans-serif; }

a {
  color: #1a2b5f;
  display: inline-block; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.container {
  max-width: 1250px;
  padding: 0 2rem;
  margin: 0 auto; }

.btn {
  font-size: 1.6rem;
  font-weight: 500;
  color: #1a2b5f;
  padding: 20px 35px;
  background-color: transparent;
  border-radius: 5rem;
  cursor: pointer;
  outline: none;
  display: inline-block;
  transition: 0.3s; }
  .btn--transparent {
    border: 1px solid; }
    .btn--transparent:hover {
      color: #ffc870; }
  .btn--primary {
    background: linear-gradient(0deg, #ffc870 36%, #ffea7b 100%);
    box-shadow: 0 20px 25px 2px rgba(255, 208, 122, 0.4);
    transition: 0.4s; }
    .btn--primary:hover {
      opacity: 0.4; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 70px; }
  .header__logo {
    font-size: 3.2rem;
    color: #ffc870;
    font-weight: 600; }
    .header__logo span {
      color: #1a2b5f; }
  .header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .header__list .item {
      margin-left: 50px; }
      .header__list .item:last-child {
        margin-left: 70px; }
      .header__list .item .link {
        font-size: 1.6rem;
        color: #1a2b5f;
        transition: 0.4s; }
        .header__list .item .link:hover {
          color: #ffc870; }

.banner {
  max-width: 800px;
  padding-top: 150px;
  text-align: center; }
  .banner__title {
    font-size: 6rem;
    font-weight: 700; }
  .banner__sub-title {
    font-size: 2.5rem;
    color: #8f98b1;
    padding-top: 60px; }
  .banner__more {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap; }
    .banner__more .btn {
      margin: 0 10px; }

.category {
  padding-top: 125px; }
  .category__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 3rem; }
  .category__item {
    width: calc(25% - 22.5px);
    background-color: white;
    border-radius: 2.6rem;
    padding: 3rem; }
    .category__item:first-child {
      box-shadow: 0 20px 35px -5px rgba(255, 151, 195, 0.3); }
    .category__item:nth-child(2) {
      box-shadow: 0 20px 35px -5px rgba(255, 112, 109, 0.3); }
    .category__item:nth-child(3) {
      box-shadow: 0 20px 35px -5px rgba(133, 152, 255, 0.3); }
    .category__item:last-child {
      box-shadow: 0 20px 35px -5px rgba(255, 200, 122, 0.3); }
  .category__image {
    border-radius: inherit;
    height: 23rem; }
  .category__title {
    padding-top: 40px;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .category__more {
    font-size: 1.4rem;
    padding-top: 20px;
    color: #8f98b1; }

.feature {
  padding-top: 180px;
  word-break: break-word; }
  .feature__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15rem; }
    .feature__item:nth-child(even) {
      flex-direction: row-reverse; }
      .feature__item:nth-child(even) .feature__info {
        padding-right: 10rem; }
    .feature__item:nth-child(odd) .feature__info {
      padding-left: 10rem; }
    .feature__item:first-child .feature__text {
      text-decoration: underline;
      text-underline-offset: 5px; }
    .feature__item:nth-child(2) .feature__text {
      padding-left: 4rem;
      margin-top: 4rem;
      position: relative; }
      .feature__item:nth-child(2) .feature__text:after {
        content: "";
        width: 25px;
        height: 25px;
        background: #1a2b5f;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%); }
      .feature__item:nth-child(2) .feature__text:first-child:after {
        background: #ff6adf; }
      .feature__item:nth-child(2) .feature__text:nth-child(2):after {
        background: #92fa3c; }
      .feature__item:nth-child(2) .feature__text:nth-child(3):after {
        background: #1ec0f4; }
      .feature__item:nth-child(2) .feature__text:last-child:after {
        background: #ff899c; }
    .feature__item:last-child .feature__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      flex-wrap: wrap; }
      .feature__item:last-child .feature__list .item {
        width: 50%;
        padding-top: 5rem; }
        .feature__item:last-child .feature__list .item__icon {
          width: 4rem;
          height: 4rem;
          border-radius: 4px;
          margin-bottom: 2rem;
          font-size: 1.6rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap; }
        .feature__item:last-child .feature__list .item__title {
          font-size: 1.6rem;
          font-weight: bold;
          margin-bottom: 2rem; }
        .feature__item:last-child .feature__list .item__text {
          font-size: 1.6rem;
          color: #8f98b1; }
        .feature__item:last-child .feature__list .item:first-child .item__icon {
          background: #6cc6d23f;
          color: #6cc6d2; }
        .feature__item:last-child .feature__list .item:nth-child(2) .item__icon {
          background: #f9d4854b;
          color: #f9d485; }
        .feature__item:last-child .feature__list .item:nth-child(3) .item__icon {
          background: #ac73e163;
          color: #ab73e1; }
        .feature__item:last-child .feature__list .item:last-child .item__icon {
          background: #89c99549;
          color: #89c995; }
  .feature__image, .feature__info {
    width: 50%; }
  .feature__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap; }
  .feature__title {
    font-size: 3.2rem;
    font-weight: bold; }
  .feature__sub-title {
    padding-top: 6rem;
    font-size: 1.6rem;
    color: #8f98b1; }
  .feature__text {
    margin-top: 5rem;
    font-size: 1.6rem; }
  .feature .btn {
    margin-top: 5rem; }

.partner {
  padding-top: 9rem;
  max-width: 83rem;
  text-align: center; }
  .partner__title {
    padding-bottom: 4rem;
    border-bottom: 1px solid currentColor;
    font-size: 2rem;
    font-weight: bold; }
  .partner__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6rem 1.5rem 0 1.5rem; }

.contact {
  padding-top: 20rem;
  text-align: center; }
  .contact__title {
    font-size: 2rem;
    font-weight: bold; }
  .contact__text {
    padding-top: 4rem;
    font-size: 1.6rem; }
    .contact__text span {
      color: #ffc870; }
  .contact__list {
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap; }
  .contact__item {
    width: calc(25% - 22.5px); }

.subscribe {
  padding-top: 17rem;
  padding-bottom: 8.5rem;
  border-bottom: 3px solid currentColor;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap; }
  .subscribe__title {
    max-width: 42rem;
    font-size: 2rem;
    font-weight: bold; }
  .subscribe__form {
    width: 61rem;
    background-color: #f2f1f6;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap; }
  .subscribe__input {
    flex: 1;
    background-color: #f2f1f6;
    outline: none;
    border: none; }
  .subscribe__button {
    cursor: pointer;
    color: #1a2b5f;
    font-size: 1.6rem;
    font-weight: bold;
    transition: 0.4s;
    outline: none;
    border: none; }
    .subscribe__button:hover {
      opacity: 0.5; }
  .subscribe__social {
    padding-top: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap; }
    .subscribe__social i {
      color: #1a2b5f;
      font-size: 2rem;
      transition: 0.4s;
      cursor: pointer; }
      .subscribe__social i:hover {
        opacity: 0.6; }
    .subscribe__social i + i {
      padding-left: 4rem; }

.footer {
  padding-top: 5rem;
  padding-bottom: 13rem; }
  .footer__logo {
    width: 25%;
    font-size: 2rem;
    color: #ffc870;
    font-weight: 600; }
    .footer__logo span {
      color: #1a2b5f; }
  .footer__relation {
    padding-bottom: 16rem;
    border-bottom: 1px solid currentColor;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap; }
  .footer__list {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap; }
  .footer__item {
    margin-bottom: 3rem; }
  .footer__link {
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.4s; }
    .footer__link:hover {
      opacity: 0.4; }
  .footer__copyright {
    padding-top: 3rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .footer__copyright a {
      margin-right: 1rem;
      cursor: pointer;
      transition: 0.4s; }
      .footer__copyright a:hover {
        opacity: 0.4; }
    .footer__copyright p {
      margin-left: auto; }

@media screen and (max-width: 1200px) {
  html {
    font-size: 50%; }
  .btn {
    padding: 1.5rem 2rem; }
  .header__list {
    display: none; }
  .category__item {
    width: calc(50% - 15px);
    margin-bottom: 3rem; }
  .feature__item:nth-child(odd) .feature__info {
    padding-left: 5rem; }
  .feature__item:nth-child(even) .feature__info {
    padding-right: 5rem; } }

@media screen and (max-width: 768px) {
  .header {
    padding-top: 2rem; }
  .banner {
    padding-top: 8rem; }
    .banner__title {
      font-size: 5rem; }
    .banner__sub-title {
      font-size: 1.6rem;
      padding-top: 2rem; }
    .banner__more {
      padding-top: 2rem; }
  .category {
    padding-top: 4rem; }
    .category__item {
      margin-bottom: 3rem; }
  .feature {
    padding-top: 10rem; }
    .feature__item {
      flex-direction: column; }
      .feature__item:nth-child(odd) .feature__info {
        padding: 0; }
      .feature__item:nth-child(even) .feature__info {
        padding: 0; }
      .feature__item:last-child {
        margin-bottom: 0; }
    .feature__image, .feature__info {
      width: 100%; }
  .partner__list {
    flex-direction: column; }
  .partner__item {
    margin-bottom: 2rem; }
  .contact {
    padding-top: 5rem; }
  .subscribe {
    padding-top: 5rem;
    text-align: center; }
    .subscribe__title {
      margin-bottom: 3rem; }
    .subscribe__info {
      width: 100%; }
    .subscribe__form {
      width: 100%;
      padding: 1rem;
      margin: 0 auto; }
    .subscribe__social {
      justify-content: center; }
  .footer__relation {
    padding-bottom: 5rem; }
  .footer__logo {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 4rem; }
  .footer__copyright p {
    margin: 0; } }

@media screen and (max-width: 480px) {
  .category__item {
    text-align: center;
    width: 100%;
    padding: 3rem 0; } }
